/*#downdoot, a:active{*/
    /*background-color: red;*/
/*}*/

/*#updoot, a:active{*/
    /*background-color: chocolate;*/
/*}*/






.upvote {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background-image: url(up.png);
    background-position: 0 -25px;
}


.upvote.on {
    background-position: 0 2px;
}

.downvote{
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 25px;
    cursor: pointer;
    background-image: url(down.png);
    background-position: 0 50px;
}

.downvote.on {
    background-position: 0 2px;
}
#textContainer{
    background-color: #cee3f8;
}
#thumb{
    padding-left: 50px;
}
#titlePost{
    padding-left: 500px;
    /*padding-top: 20px;*/
}
.content{
    padding-left: 20px;
}
#desc{
    padding-left: 300px;
}

#postDetails{
    padding-left: 480px;
}
#description{
    width: 400px;
    height: 150px;
}

.input-group-addon {
    border-radius: 10px;
}

.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 20%;
    margin-bottom: 0;
}
