<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Front Page</title>
    <!-- BOOTSTRAP REFERENCES -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="style.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</head>

<body>

<nav class="navbar navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Redddit</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Front Page</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="">???</a></li>  <!-- TODO ADD HREF, OTHER OPTION -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!--<div>-->

    <!--<div style="width:1600px;height:100px;border:1px solid #000;">-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
    <!--</div>-->
<!--</div>-->
<!--<br/>-->

<!--<div>-->
    <!--<img src="../static/arrow-up.png" th:src="@{arrow-up.png}" align="left" width="20" height="20" onclick="upvote()"/>-->
    <!--<div style="width:1600px;height:100px;border:1px solid #000;">-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<img th:src="@{arrow-down.png}" align="left" width="20" height="20" onclick="downvote()"/>-->
    <!--</div>-->
<!--</div>-->
<!--<br/>-->

<!--<div>-->
    <!--<img th:src="@{arrow-up.png}" align="left" width="20" height="20" onclick="upvote()"/>-->
    <!--<div style="width:1600px;height:100px;border:1px solid #000;">-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<br/>-->
        <!--<img th:src="@{arrow-down.png}" align="left" width="20" height="20" onclick="downvote()"/>-->
    <!--</div>-->
<!--</div>-->


</body>
</html>