<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:c="http://www.w3.org/1999/XSL/Transform">
<head>
    <meta charset="UTF-8"/>
    <title>Register New User</title>

    <!-- BOOTSTRAP REFERENCES -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/css/style.css"/>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>

</head>
<body>
<nav class="navbar navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Redddit</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="/">Front Page</a></li>
                <li><a href="/login">Log In</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="">???</a></li>  <!-- TODO ADD HREF, OTHER OPTION -->
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="container">
    <br/>
    <br/>
    <p class="lead">
        <form action="#" th:action="@{/register}" th:object="${user}" method="post">
    <p>
    <h5 style="color:darkred"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Duplicate Username or Email detected, please enter new credentials</h5>

    <div class="input-group" >
        <span class="input-group-addon" id="basic-addon3">@</span>
        <input type="email" class="form-control" id="email" name="emailReg" placeholder="EMAIL" required="true" aria-describedby="basic-addon1" style="width: 300px" />
    </div>
    </p>
    <p>
    <div class="input-group" >
        <span class="input-group-addon" id="basic-addon3"> Username »» </span>
        <input type="text" class="form-control" id="username" name="usernameReg" placeholder="USERNAME" required="true" aria-describedby="basic-addon1" style="width: 300px" />
    </div>
    </p>
    <p>
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon4"> Password »» </span>
        <input type="password" class="form-control" id="password" name="passwordReg" placeholder="PASSWORD" required="true" aria-describedby="basic-addon1" style="width: 300px"/>
    </div>
    </p>

    <p>
    <div class="btn-toolbar" role="toolbar" aria-label="...">
        <div class="btn-group" role="group" aria-label="Create User"><button type="submit" class="btn btn-default" >Register</button></div>
    </div>
    </p>
    </form>
    </p>


</div>

</body>
</html>

<!-- This was meant to just be a simple JS alert popup, but I cannot figure out how to do that with spring :( -->