<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>ImageUploader</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

    <script th:src="@{/js/functions.js}"></script>
</head>
<body>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/upload/Image">Image</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/upload/Text">Text</a>
    </li>
</ul>
<div class="container-fluid" id="textContainer">

<!--<form th:action="@{/uploadFile}">-->
    <form method="POST" enctype="multipart/form-data" action="/upload">

    <div>
    <span>Title</span>
    <input type="text" id="title" name="title" placeholder="Enter a title for your post" size="50px" required="required"/>
    </div>

<input type="file" id="file" name="file"/>
<br/>

    <button id="submitPost">Submit</button>
</form>
</div>

</body>
</html>